/**
**
** Navgation Bar
**
**/
.navbar{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 !important;
    background-color: #212121 !important;
}
.navbar-nav li {
    padding: 2px;
}
/**
**
** Body section styling
**/
body{
    background-color: #F5F5F5;
}
body .content {
    background-color: #f5f8fa !important;
    color: #f5f8fa !important;
    padding-bottom: 80px;
}
.clearfix:after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/**
**
** User Show Profile Styling
**
**/

/*body { padding-top: 30px;}*/

.glyphicon { margin-bottom: 10px; margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

/**
** Footer section Styling
**/

/* Footer */

footer{
    clear: both;
    background: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
    height: 40px;
    text-align: center;
    color: #CCC;
    overflow-y: hidden;
    padding-top: 10px;
}

footer:before,
footer:after {
    content:"";
    display:table;
    line-height:0;
}

footer:after{
    clear: both;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

